<main>
    <div class="offer-details">
        <h1>{{product.brand}} {{product.title}}</h1>
        <div class="info">
            <img src="{{product.imageUrl}}" alt="">
            <div class="description">{{product.description}}
                <br>
                <br>
                <p> <strong>Buyers:</strong> {{product.boughtBy.length}}</p>
                <br>
                <p class="price">${{product.price}}</p>
            </div>
        </div>

        <div class="actions">
            {{#if product.isOwn}}
                <a href="/product/{{product._id}}/edit">Edit</a>
                <a href="/product/{{product._id}}/delete">Delete</a>
            {{else}}
                {{#if product.isBought}}
                    <span>You bought it</span>
                {{else}}
                    <a href="/product/{{product._id}}/buy">Buy</a>
                {{/if}}
            {{/if}}

        </div>
    </div>
</main>