<main>
    <div class="container">
        <h1 class="my-4">Title : {{product.title}}</h1>

        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{product.imageUrl}}" alt="{{product.title}}" />
            </div>

            <div class="col-md-4 text-center">
                <h3 class="my-3">Description</h3>
                <p>{{product.title}} is {{product.description}}</p>

                {{#if product.isOwn}}
                    <a class="btn btn-danger" href="/product/{{product._id}}/delete">Delete</a>
                    <a class="btn btn-warning" href="/product/{{product._id}}/edit">Edit</a>

                {{else}}
                    {{#if product.isLiked}}
                        <span class="enrolled-span">You like it</span>
                    {{else}}
                        <a class="btn btn-primary" href="/product/{{product._id}}/like">Like</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</main>